if SHIELD_DIOM36SP_LEFT

config ZMK_KEYBOARD_NAME
	default "Diom-36SP"
	
config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
endif

if SHIELD_DIOM36SP_LEFT || SHIELD_DIOM36SP_RIGHT

conifg ZMK_SPLIT
	default y
	
endif